<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC1bP9N18PnR-411xCJ6Y_utqhbiaILDgc</string>
	<key>GCM_SENDER_ID</key>
	<string>867131947335</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.quizy</string>
	<key>PROJECT_ID</key>
	<string>quizy-3vqjs5</string>
	<key>STORAGE_BUCKET</key>
	<string>quizy-3vqjs5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:867131947335:ios:5c1b01fa13c2533dbe7462</string>
</dict>
</plist>